<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923359952397-0779bar4njk9q4knl7tmoins26fhmh4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923359952397-0779bar4njk9q4knl7tmoins26fhmh4s</string>
	<key>API_KEY</key>
	<string>AIzaSyCjsAoMSUAjzb4tPIM1FukVV4Tf7jr90I0</string>
	<key>GCM_SENDER_ID</key>
	<string>923359952397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled1</string>
	<key>PROJECT_ID</key>
	<string>zoom-1572c</string>
	<key>STORAGE_BUCKET</key>
	<string>zoom-1572c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923359952397:ios:deae877e7909ba9f6bdf44</string>
</dict>
</plist>